<div class="container-fluid">
  <div class="row-fluid">

  <!- 左边 ->
    <div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <a href="#" rel="popover" title="Mouse" 
              data-content="08级计算机科学与技术2班性格开朗、外向、稳重、有活力、待人热情、真诚，比较看重友情，喜欢结交朋友，富有编码激情，强调团队合作精神。爱好美工设计+ 音乐 + 街舞，当然少不了编程，自己熟悉技术也不多，就有时候玩玩界面和图片设计，比较常用ror + mysql + html/extjs 技术，基本掌握c++(mfc),java，汇编等基本语言，蚁群算法、遗传算法等小有研究<br>
"><img src="../img/mouse.jpg" ></a>
            <div class="caption">
              <div class="well">
              <h5>Mouse-Lin</h5>
              <p>
              <b>专业技能</b>
              <ul>
                <li>
                  后端语言: Ruby 	on Rails(rails2.3.x – 3.1.x)，PHP – cakePhP框架；Java、C++等语言仅仅只是学习过，根据自己兴趣编写过小型程序等。
                </li>
                <li>
                  数据库: mysql、sqlite3是经常使用；Redis键值式nosql数据库比较关注
                </li>
                <li>
                  前端:	Extjs、Html、JS、css\div、Jquery，其中Extjs与html相对比较熟悉，因为开发过的项目管理系统占多
                </li>
                <li>
                  编辑器 	– vim；系统 	– ubuntu
                </li>
                <li>
                  版本管理\控制 	– redmine\git
                </li>
                <li>
                  目前关注Nosql与Sql的结合使用与持续集成
                </li>
              </ul>
              </p>
    <p>in fact,both dynamic languages and static language are similar ,lay a good foundation in the concepts and technology,you can learn other techniques that would later achieve a multiplier effect.</p>
              <pre style="white-space:pre-line">
              <b>WebSite</b>: <a href="https://mouse.heroku.com" target="_blank">mouse.heroku.com</a>
              <b>Gmail</b>: linhongshimouse@gmail.com
              <img width="20px 30px" src="http://ww1.sinaimg.cn/square/7d711661tw1dii7n21chmj.jpg"></img>:
                <a href="http://weibo.com/mouseshi" target="_blank">http://weibo.com/mouseshi</a>
              <img width="35px 35px" src="https://a248.e.akamai.net/assets.github.com/images/modules/header/logov7@4x-hover.png?1324325369"></img>: 
              <a href="https://github.com/mouse-lin" target="_blank">https://github.com/mouse-lin</a>
              <img width="20px 20px" src="http://0.web.qstatic.com/webqqpic/pubapps/0/50/images/big.png"></img>:  910664586
              <b>团队网站</b>: <a href="http://hzuwando.com/" target="_blank">hzuwando.com</a>
              </pre>
              </div>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
          <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=100&skin=3&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1914827877&verifier=00e07be0&dpc=1"></iframe>
          </div>
          <div class="thumbnail">
            <img src="../img/mouse3.jpg" alt="">
          </div>
          <div class="thumbnail">
            <img src="../img/mouse2.jpg" alt="">
          </div>
        </li>
      </ul>
    </div>

    <div class="span9">
      <div class="well">
        <h2>Mouse-Lin</h2>(肥猪流程序猿): 
          <span class="badge badge-inverse">激情</span>
          <span class="badge">创新</span> 
          <span class="badge badge-info">工作狂</span> 
          <span class="badge badge-success">技术狂</span>
      </div>
    </div>


    <div class="span5">
      <div class="well">
        <h2 style="border-bottom:1px solid #DDDDDD;font-weight:bold">项目</h2>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item">
                <img style="width:600px;height:280px" src="../../img/wando/wando2.png">
                <div class="carousel-caption">
                  <h4>Wando3(服装丝光棉企业信息化管理平台-"骨架+肉")</h4>
                 <p>该系统囊括了丝光棉企业生产的主要流程，相对与传统的excel记录数据，普通单据传递生产信息的工作方式，系统让生产链中的信息共享和计划进度的跟踪更为便捷，使企业的工作效率大大提升</p>
                </div>
              </div>
             <div class="item">
                <img style="width:600px;height:280px" src="../../../img/pf/pf.png">
                <div class="carousel-caption">
                  <h4>学生自动评分系统</h4>
                  <p> 用于针对学生自动评分系统</p>
                </div>
              </div>
              <div class="item">
                <img style="width:600px;height:280px" src="../../../img/zhaop/zhaop.png">
                <div class="carousel-caption">
                  <h4>招聘HR网站</h4>
                  <p>用于发布招聘信息与在线招聘</p>
                </div>
              </div>
              <div class="item active">
                <img style="width:600px;height:280px" src="../../../img/bootstrap-mdo-sfmoma-01.jpg">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
      </div>
    </div>

    <div class="span4">
      <div class="well">
        <h2 style="border-bottom:1px solid #DDDDDD;font-weight:bold">推荐</h2>
        <ol>
          <li><a href="https://github.com/" target="_blank">github</a>(https://github.com/) 
            <span class="label label-info">ROR</span>
            <span class="label label-important">JS</span>
            <span class="label label-inverse">PHP</span>
            <span class="label label-success">Java</span>
          </li>
          <br>
          <li><a href="http://www.heroku.com/" target="_blank">heroku</a>(http://www.heroku.com/) 
            <span class="label label-info">ROR</span>
          </li>
          <br>
          <li><a href="https://docs.google.com/" target="_blank">GooGle Doc</a>(https://docs.google.com/) 
            <span class="label">Doc</span>
          </li>
          <br>
          <li><a href="http://ruby-china.org/" target="_blank">Ruby-China</a>(http://ruby-china.org/) 
            <span class="label label-info">ROR</span>
          </li>
          <br>
          <li><a href="http://erick.heroku.com/" target="_blank">Erick(翼杰)</a>(http://erick.heroku.com/) 
            <span class="label label-info">ROR</span>
          </li>
        </ol>
      </div>
    </div>

    <div class="span9">
      <div class="well">
        <h2>Notes</h2>
        <div class="mouse_notes">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Extjs ajax 提交超时 timeout  <span class="label label-important">JS</span>
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                   <pre class="prettyprint linenums">
                     Ext.Ajax.request({
                         timeout: 600000, // 设置timeout时间
                         url:'sendAllTitleToBK.action',
                         params : '',
                         method : 'POST',
                      })
                   </pre>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Vim配置 <span class="label label-warning">编辑器</span>
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                   <pre class="prettyprint linenums">
                     au BufNewFile,BufRead *.thor set filetype=ruby
                     au BufNewFile,BufRead *.erb set filetype=html
                     "tlist设置
                     nnoremap <silent> <F8> :TlistToggle<CR>
                     "设置tlist自动打开
                     let Tlist_Auto_Open = 1
                     "let Tlist_Use_Right_Window = 1    
                   </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
